 <div id='oopss'>
    <div id='error-text'>
        <img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
        <span>No puedes agregar este usuario</span>
        <p class="p-a">
           Este usuario es administrador</p>
        <p class="p-b">
        
    
         <a href="http://localhost:8080/signup" class="back">Signup</a>
         <a href="http://localhost:8080/login" class="back">Login</a>

    </div>
</div>