<div class="flex-container">
    <div class="text-center">

        <h1 class="fadeIn">Error</h3>
            {{!-- <button onClick="window.location.href='http://localhost:8080/login';">
                Volver al login
            </button> --}}

        <p class="message">Wanna go Back?<a href="http://localhost:8080/login">Return to Login</a></p>

    </div>
</div>