<div class="flex-container">
    <div class="text-center">

        <h1 class="fadeIn">Error</h3>
            <button onClick="window.location.href='http://localhost:8080/login';">
                Volver al login
            </button>
    </div>
</div>