{{!-- <div class="container">
  <h2 class="login-title">Log in</h2>
  <form action="http://localhost:8080/api/login" method="post" class="LongIn-form">
    <div>
      <label for="email">email </label>
      <input id="email" type="text" placeholder="fulanitodetal@example.com" name="email" />
    </div>

    <div>
      <label for="password">Password </label>
      <input id="password" type="password" placeholder="password" name="password" />
    </div>

    <button class="btn btn--form" type="submit" value="Logearse">
      Login
    </button>
    <a href="http://localhost:8080/signup" class="button">Registrate</a>
  </form>

</div> --}}

<div class="container">
  <div class="card">
    <h2>Login in Form</h2>
    <form action="http://localhost:8080/api/login" method="post">

      <label for="email">Email </label>
      <input id="email" type="text" placeholder="fulanitodetal@example.com" name="email" />

      <label for="password">Password </label>
      <input id="password" type="password" placeholder="password" name="password" />

      <button type="submit" class="btn btn--form">Login</button>

      <a href="http://localhost:8080/signup" class="button">No tienes Cuenta? Registrate</a>
      <a href="http://localhost:8080/recover" class="button">Olvidaste la contraseña?</a>
    </form>
  </div>
</div>