
<div class="container">
  <div class="card">
    <h2>Login in Form</h2>

    <div class="item-container">
      <a href="http://localhost:8080/api/github"><i class="fa fa-github" style="font-size: 20px;"></i></a>
    </div>

    <div class="item-container">
      <p>or login using this option</p>
    </div>

    <form action="http://localhost:8080/api/login" method="post">

      <label for="email">Email </label>
      <input id="email" type="text" placeholder="fulanitodetal@example.com" name="email" />

      <label for="password">Password </label>
      <input id="password" type="password" placeholder="password" name="password" />

      <button type="submit" class="btn btn--form">Login</button>

      <a href="http://localhost:8080/signup" class="button">No tienes Cuenta? Registrate</a>
      <a href="http://localhost:8080/recover" class="button">Olvidaste la contraseña?</a>

    </form>
  </div>
</div>