<div class="recover-page">
  <div class="form">
    <h2>Recover Password Form</h2>
    <form action="http://localhost:8080/api/recover" method="post">

      <input id="email" type="text" placeholder="fulanitodetal@example.com" name="email" />

      <input id="password" type="password" placeholder="password" name="password" />

      <button type="submit">Cambiar Contraseña</button>

      <p class="message">Wanna go Back?<a href="http://localhost:8080/login">Return to Login</a></p>

    </form>
  </div>
</div>