
<div class="container">
  <div class="card">
    <h2>Recover Password Form</h2>
    <form action="http://localhost:8080/api/recover" method="post">

      <label for="email">Email </label>
      <input id="email" type="text" placeholder="fulanitodetal@example.com" name="email" />

      <label for="password">Password </label>
      <input id="password" type="password" placeholder="password" name="password" />

      <button type="submit" class="btn btn--form">Cambiar Contraseña</button>

      <a href="http://localhost:8080/login" class="button">Retornar al Login</a> 
    </form>
  </div>
</div>